@media(max-width:600px)
{
   body{width: auto; }

    header{
        padding: 1% 0;
        margin: 0;
    }
     
    .logo img{
        height: 20px;
        width: 30px;
      }
      .logo p{
        font-size:22px;
      }
      
      .logo .logo-azul{
        margin-left: 8px;
      }
    
    .logo-busqueda_input{display: none;}

    .login button
    {
      width: 150px;
      height: 35px;
      margin-right: 1.5rem;
    }

    .banner{
      width: 400px;
      height: 200px;  
      justify-content:end;
      padding:0 0 1rem .5rem;  
      background-size: cover;
      background-position-x:center;
    }

    .banner h1{
      font-size: 1.5em;
      font-weight: bold;
      margin:0;
    }
    
    .banner h4{
      font-size: 1em;
      margin:1rem 0;
    }
    
    .banner button{
      width: 25%;
      height: 15%;
      font-size: .8em;
      padding: 10px;
    }
    .geral-prods{padding-top: 5rem ;}
    
    .prod-titulo{
      width: 80vw;
      align-items:baseline;
    }

    .titulo p {
      font-size: 28px;
      margin-bottom: 0;
    }
    .mostrar-mas p{
      margin-bottom: 0;
    }

    .geral-prods{
      margin:0 5%;
    }

    .seccion-productos{
      width: 80vw;
      margin: 0;
    }

    .produto{
      margin-top: 1.2rem;
    }

    .produto p{
     margin-bottom: 0.5em;
    }

    .produto img{
      width: 150px;
    }

    .contacto{
      margin-top: 2rem;
    }

    .contacto__referencia--containter{
  
      flex-direction: column;
      justify-content:space-between;
      align-items: flex-start;
    }

    .contacto__container{
      width: 100%;
      flex-direction: column;
      justify-content:space-evenly;    
      align-items: center;
    }
    .links-utiles a{margin: 0; }

    .form{
      width: 90%;
      margin: 2rem 2rem 0 1rem;
    }
    .form input, .form textarea {
      width: 90%;
    }
  
    

    /*productos.css*/

    
  .mostrar-mas button
  {
    margin:0;
      width: 140px;
      padding:1rem;
  }
  .titulo p{font-size: 25px;}


}

 @media(min-width:600px) and (max-width:1200px)
{
  .contacto__referencia--containter{
  
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
  }

   /*productos.css*/
  .mostrar-mas button
  {
      width: 140px;
      padding:1rem;
  }
  .titulo p{font-size: 25px;}

}